# folder with your mods (must contain the mod-list.json)
MODS_FOLDER=/opt/factorio/mods
# your factorio token (search for service-token in your player-data.json)
TOKEN=PUT_TOKEN_HERE
# your factorio username
USERNAME=PUT_USERNAME_HERE
